body {
  background-color: rgb(69, 68, 68);
}
.logo-size {
  height: 140px;
}
.colors {
  color: #77c6e8;
}
.input-field {
  color: white;
  outline: none;
  width: 700px;
  height: 60px;
  font-size: 20px;
  border-radius: 3px;
  background-color: #77c6e8;
}
.input-field::placeholder {
  color: rgb(135, 135, 135);
}
.search-button {
  border-radius: 3px;
  font-size: 20px;
  color: white;
  background-color: #77c6e8;
}
.movie-cart {
  height: 250px;
  width: 100%;
}
.title-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.error-message {
  margin-top: 140px;
}
.my {
  background-color: #77c6e8;
}
.loaidng {
  border-radius: 3px;
  text-align: center;
  padding: 5px;
  margin: 20px 0;
}
.title {
  background-color: #77c6e8;
  padding: 5px 10px;
  border-radius: 4px;
  color: black;
}
.back-Button {
  background-color: #77c6e8;
  color: black;
  outline: none;
  border: none;
  padding: 2px 4px;
  border-radius: 3px;
}
.singleImage {
  width: 100%;
  height: 500px;
  margin-top: 50px;
  border-radius: 5px;
  gap: 40px;
  overflow: hidden;
  outline: none;
}
/* mobile responsive */
@media only screen and (max-width: 600px) {
  .colors {
    font-size: 14px;
    width: 345px;
  }
  .input-field {
    width: 350px;
  }
  .logo-size {
    height: 100px;
  }
  .movie {
    width: 350px;
    text-align: center;
  }
  .title-text {
    text-align: center;
    font-size: 14px;
  }
}
